.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 8vw;
    margin-top: 60px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-content li {
    list-style: none;
    cursor: pointer;
}

.footer-content h2 {
    color: white;
}

.footer-social-icon img {
    width: 36px;
    margin-right: 12px;
}

.footer hr {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

.footer-copyright {
    text-align: center;
    font-size: 13px;
}

/* Mobile */
@media (max-width: 750px) {
  /* Hide Company & Get in Touch */
  .footer-content-center,
  .footer-content-right {
    display: none;
  }

  /* Center remaining content */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content-left {
    align-items: center;
    text-align: center;
  }

  .footer-social-icon {
    display: flex;
    justify-content: center;
  }
}